/.metadata/
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
JavaJobs/target/classes/META-INF/maven/JavaJobs/JavaJobs/pom.properties
